/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
$Elements-Icy-Cocoon-1-hex: #A0C3D9;
$Elements-Icy-Cocoon-2-hex: #0388A6;
$Elements-Icy-Cocoon-3-hex: #024959;
$Elements-Icy-Cocoon-4-hex: #F2B705;
$Elements-Icy-Cocoon-5-hex: #BF7E06;

/* Color Theme Swatches in RGBA */
$Elements-Icy-Cocoon-1-rgba: rgba(160, 195, 216, 0.7);
$Elements-Icy-Cocoon-2-rgba: rgba(3, 135, 165, 0.7);
$Elements-Icy-Cocoon-3-rgba: rgba(1, 73, 89, 1);
$Elements-Icy-Cocoon-4-rgba: rgba(242, 182, 4, 0.6);
$Elements-Icy-Cocoon-5-rgba: rgba(191, 126, 5, 1);

/* Color Theme Swatches in Hex */
$color-theme-1-hex: #131A40;
$color-theme-2-hex: #273273;
$color-theme-3-hex: #4E64A6;
$color-theme-4-hex: #829FD9;
$color-theme-5-hex: #99B7F9;

/* Color Theme Swatches in RGBA */
$color-theme-1-rgba: rgba(19, 26, 64, 1);
$color-theme-2-rgba: rgba(39, 50, 115, 1);
$color-theme-3-rgba: rgba(78, 100, 166, 1);
$color-theme-4-rgba: rgba(130, 159, 217, 1);
$color-theme-5-rgba: rgba(153, 183, 249, 1);

$cloud-0-hex: #D9D9D9;
$cloud-0-rgba: rgba(217, 217, 217, 1);

$cloud-1-hex: #ACAAAB;
$cloud-1-rgba: rgba(172, 170, 171, 1);

$cloud-2-hex: #596B75;
$cloud-2-rgba: rgba(89, 107, 117, 1);

$cloud-3-hex: #0D263A;
$cloud-3-rgba: rgba(13, 38, 58, 1);